body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
}

.hero-banner {
    background: url('https://images.unsplash.com/photo-1512295767273-ac109ac3acfa') no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .hero-banner::after
